SUPABASE_URL="https://ksmizzrowyufystaufiv.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtzbWl6enJvd3l1ZnlzdGF1Zml2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2MjE5NzksImV4cCI6MjA4OTE5Nzk3OX0.NOzNuqGkPtusorpWyeMdJrJUFEPvocCLC5gFfdOHzvA"